body{
    font-family: 'Courgette', cursive;
    background-image: url(https://static.pexels.com/photos/172253/pexels-photo-172253.jpeg);
    background-size: cover;
}
td{
    background-color: rgba(242,160,98,1);
    border-color: black;
}
thead{
    /*background-color: #09092a;*/
    color:white;
}
table{
   /* margin: 60px;*/
    
}
.clickable{
    background-color: rgba(129,31,20,1);
    color: white;
}
.container{
    /*margin: 60px;
    padding: 30;*/
    border-radius: 15px;
    background-color: rgba(255,255,255,.4);
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}
