body{
    background-image: url("https://static.pexels.com/photos/199609/pexels-photo-199609.jpeg");
    background-size: cover;
    color: black;
    font-family: 'Courgette', cursive;
    text-align: center;
    padding-top: 50px;
}
.header {
    font-family: 'Courgette', cursive;
    text-align: center;
}
.button {
    font-family: 'Courgette', cursive;
    color:white;
    background-color: #1E56BD;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius:10px;
    text-align: center;
    
}