
body{
    
    background-size: cover;
    color: black;
    font-family: 'Courgette', cursive;
    /*background-image: url("https://static.pexels.com/photos/56030/pyrite-pyrites-mineral-sulfide-56030.jpeg");*/
    background-image: url("http://i.dailymail.co.uk/i/pix/2016/10/07/11/392FF45300000578-0-image-a-64_1475834766915.jpg");
    background-position: 0px -250px;
}
#whiteText{
    color:black;
}
a{
    color: white;
}
.btn-primary {
    font-family: 'Courgette', cursive;
    color: white;
    background-image: none;
    background-color:rgba(30,30,30,1);
    border-color: black;
    /*border-color: black;
    background-color: rbga(100,100,100);*/
}
#error{
    margin-top: 5px;
    display: none;
    border: 3px solid red;
    border-radius: 3px;
    background-color: rgba(255,0,0,.7);
    color:white;
}
#forgot{
    color: rgb(0,0,55,);
    display: none;
}
form{
    color:black;
    background-color: rgba(255,255,255,.24);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 30px;
    border-radius:20px;
    text-align: center;
}
