body{
    /*background-image: url("https://static.pexels.com/photos/40081/pexels-photo-40081.jpeg");*/
    background-image: url("https://static.pexels.com/photos/33688/delicate-arch-night-stars-landscape.jpg");
    background-size: cover;
    color: yellow;
    font-family: 'Courgette', cursive;
}
#whiteText{
    color:antiquewhite;
}
.btn-primary {
    font-family: 'Courgette', cursive;
    color: antiquewhite;
    background-image: none;
    background-color:#09092a;
    /*border-color: black;*/
}
form{
    color:black;
    background-color: rgba(255,255,255,.24);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 30px;
    border-radius:20px;
    text-align: center;
}
