body{
    font-family: 'Courgette', cursive;
    /*background-image: url(https://static.pexels.com/photos/25009/pexels-photo-25009.jpg);*/
    
    background-color: rgba(120,120,160,1);
    
    background-size: cover;
}
#MyTable {
    border-collapse: collapse;
    /* margin: 60px;*/
}
#hide-show{
    display: none;
    background-color: darkred;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
}
table, th, td {
    border: 1px solid black;
}
td{
    background-color: rgba(200,200,252,1);
	padding: 8px;
}
thead{
    background-color: #09092a;
    color:white;
}
table{
   /* margin: 60px;*/
    
    
    background-color: rgba(240,240,252,1);
	/*padding: 8px;
    margin: 8px;*/
    border-collapse: separate;
}
thead{
    background-color: rgba(200,200,252,1);
    color: rgba(20,1,60,1);
}
#clear{
    width:100%; /* setting the width */
    margin:0 auto; /* this will center  it */
    text-align:center;
}
.btn-primary{
    background-image:none;
    background-color: rgba(200,200,252,1);
    color: black;
}
.yes{
    background-color: #00ccff;
    
    background-color: rgba(160,140,200,1);
    background-size: contain;
    color: black;
}
.yes{
    background-color: white;
    background-size: contain;
    color: black;
    margin: 3px;
    
}
.no{
    /*background-color: #0d1a26;*/
    margin: 3px;
    background-color: black;
}
.mineTaken{
    background-color: rgba(170,40,90,1);
}
.mine{
    background-color:rgba(255,160,180,1);
}
.container{
	text-align: center;
    margin: 60px;
    padding: 30;
    border-radius: 15px;
    background-color: rgba(255,255,255,.4);
}
.navbar{
    background-image: none;
    background-color: black;
    
}
#outerlist{
    margin-top: 5px;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    border-color: white;
   /* border-radius: 6px;*/
    border: 1.5px solid white;
}
#innerlist{
    color: white;
    text-align: center;
    border-color: white;
    border-radius: 6px;
   
    /*border: 3px solid black;
    border-left: none;*/
}
.span{
    
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-align: right;
}
.left{
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.nonbutton{
	color: white;
}



/*.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}*/
#listing{
    color:white;
}/*
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
#time{
    background-image: none;
    color:white;
    background-color: maroon;
}