body{
    font-family: 'Courgette', cursive;
    /*background-image: url(https://static.pexels.com/photos/25009/pexels-photo-25009.jpg);*/
    background-color: rgba(120,120,160,1);
    background-size: cover;
}
td{
    background-color: rgba(240,240,252,1);
	padding: 8px;
}
thead{
    background-color: rgba(200,200,252,1);
    color: rgba(20,1,60,1);
	
}
table{
   /* margin: 60px;*/
    
}
#clear{
    width:100%; /* setting the width */
    margin:0 auto; /* this will center  it */
    text-align:center;
}
.btn-primary{
    background-image:none;
    background-color: deepskyblue;
    color: black;
}
.yes{
    background-color: white;
    color: black;
}
.no{
    background-color: #0d1a26;
    background-color: black;
}
.mineTaken{
    background-color: gold;
}
.mine{
    background-color:lightpink;
}
.container{
	text-align: center;
    margin: 60px;
    padding: 30;
    border-radius: 15px;
    background-color: rgba(255,255,255,.4);
}
.navbar{
    background-image: none;
    background-color: black;
    
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.nonbutton{
	color: white;
}